name: Unit and Integration Tests

on:
  push:
    branches: [master]

jobs:
  unit-tests:
    name: unit-tests
    runs-on: ubuntu-latest

    env:
      MAVEN_OPTS: -Xmx1024m
      SUREFIRE_JAVA_OPTS: -Xmx1200m -Xss256k -XX:+ExitOnOutOfMemoryError
      NODE_OPTIONS: --max_old_space_size=4096

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: "17"

      - name: Build ThingsBoard
        run: mvn clean install -DskipTests

      - name: Run common module tests
        run: cd common; mvn test; cd ..

      - name: Run rule-engine-api module tests
        run: cd rule-engine/rule-engine-api; mvn test -pl rule-engine-api; cd ..

  integration-tests:
    name: integration-tests-recoverability
    runs-on: ubuntu-latest
    needs: unit-tests
    
    env:
      MAVEN_OPTS: -Xmx1024m

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: "17"

      - name: Build ThingsBoard
        run: mvn clean install -DskipTests

      - name: Run Device Recoverability Integration Tests
        run: cd dao; mvn test -Dtest=DeviceRecoverabilityIntegrationTest

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: integration-test-results
          path: dao/target/surefire-reports/